@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');        
        
body {
    background-color: #1a1a1a; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 0;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    background-color: #727272;
    padding: 20px;
}


main {
    display: flex;
    justify-content: center;
    width: 100%;
}

header {
    display: flex;            /* Ativa o Flexbox no header */
    flex-direction: column;   /* Empilha os itens verticalmente */
    align-items: center;      /* Centraliza horizontalmente */
    justify-content: center;  /* Centraliza verticalmente (opcional) */
    padding: 20px;
}

#perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #4a4a4a;
    image-rendering: pixelated;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    
    width: 90%;
    max-width: 1200px;
}

.grid-container img {
    padding: 5px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    image-rendering: pixelated;
    border: 2px solid #333;
}

.perfil-container {
    display: flex;            /* Ativa o sistema flexbox */
    flex-direction: column;   /* Empilha os itens verticalmente */
    align-items: center;      /* Centraliza horizontalmente */
    justify-content: center;  /* Centraliza verticalmente */
    gap: 15px;                /* Espaçamento entre a imagem e o nome */
}