@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');        
        
body {
    background-color: #1a1a1a; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin: 0;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    background-color: #727272;
    padding: 20px;
}


main {
    display: flex;
    justify-content: center;
    width: 100%;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    
    width: 90%;
    max-width: 1200px;
}

.grid-container img {
    padding: 10px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    image-rendering: pixelated;
    background-color: #313131;
    background-image: url(sprites/avatar/background-miners.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border-image-source: url(sprites/avatar/border-miners.png);
    border-image-slice:20;
    border-image-width: 20px;
    transition: 0.5s;
}

.grid-container img:hover {
    scale: 1.6;
    z-index: 100;
}

.perfil-container {
    display: flex;            /* Ativa o sistema flexbox */
    flex-direction: column;   /* Empilha os itens verticalmente */
    align-items: center;      /* Centraliza horizontalmente */
    justify-content: center;  /* Centraliza verticalmente */
    gap: 15px;                /* Espaçamento entre a imagem e o nome */
}




header {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    gap: 20px;           /* Espaço entre a foto, o nome e o player */
    padding: 20px;
    flex-wrap: wrap;     /* Se a tela for pequena, ele joga o player para baixo */
}

#perfil {
    border: 2px solid wheat;
    width: 80px;        
    height: 80px;
    border-radius: 10%;
}

.name {
    font-family: 'Press Start 2P', cursive;
    background-color: #292929;
    border: 2px solid rgb(146, 146, 146);
    border-radius: 10px;
    padding: 15px;
    margin: 0;
    font-size: 1.5rem;      /* Ajustado para caber melhor com o player */
}

#musica-perfil {
    height: 40px;
    width: 300px;           /* Largura fixa para o player não esticar demais */
    filter: invert(90%);    /* Truque: inverte as cores do player para combinar com o tema dark */
    opacity: 0.8;
}