@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(sprites/avatar/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.ranking-container {
    background-color: #f7c6a5;
    padding: 30px;
    min-width: 350px;
    max-width: 600px;
}

.jogador-item {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; 
  
    /* Borda PNG */
    border: 5px solid transparent;
    border-image-source: url('sprites/avatar/border.png');
    border-image-slice: 5;
    border-image-repeat: round;
    
    /* Estilo do conteúdo */
    border-radius: 10px;
    padding: 15px 0px;
    transition: transform 0.3s ease;

    /* Background imagem*/
    background-image: url(sprites/avatar/wood.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
}

/* Ranking - Estilo Específico */
.jogador-item.rank-1 {
    background-color: rgba(177, 161, 74, 0.363);
}
.jogador-item.rank-2 { background-color: rgba(124, 50, 124, 0.315); }
.jogador-item.rank-3 { background-color: rgba(94, 95, 161, 0.226); }

/* Ranking - Avatares (O seletor precisa do rank-X na div pai) */
.rank-1 .avatar { background-color: rgb(240, 185, 65); border-color: #fff1a0; }
.rank-2 .avatar { background-color: rgb(134, 53, 121); border-color: #dc5ee7; }
.rank-3 .avatar { background-color: rgb(46, 74, 201); border-color: #4bb7f5; }
.rank-4 .avatar { background-color: rgb(46, 128, 50); border-color: #4bb7f5; }
.rank-5 .avatar { background-color: rgb(46, 128, 50); border-color: #4bb7f5; }

.jogador-info {
    margin: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
  /* Define o tamanho total da caixa (incluindo borda e padding) */
  box-sizing: border-box; 
  width: 104px; /* 80px do avatar + 12px de cada lado da borda */
  height: 104px;
  
  /* Borda PNG */
  border: 8px solid transparent;
  border-image-source: url('sprites/avatar/border.png');
  border-image-slice: 5;
  border-image-repeat: round;
  
  /* Estilo do conteúdo */
  border-radius: 10px;
  object-fit: cover;
  image-rendering: pixelated;
  background-color: #353535;
}



.avatar:hover {
    transform: scale(2);
}


.nome {
    font-size: 12px;
}

.pontos {
    margin: 5px 20px 5px 20px;
    color: #4ce472;
    font-size: 14px;
}

.pts {
    color: #ffffff;
    font-size: 12px;
}
.jogador-item:hover {
    border-color: #ffffff;
    background-color: #747474;
     transform: scale(1.2);
}
