@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
    text-align: center;
    /* Se quiser dar um espaço em cima e embaixo: */
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente (opcional) */
    background-color: black;
}
.ranking-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.jogador-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    padding: 15px 0;
    font-size: 10px; /* Tamanho pequeno típico de pixel art */
}

.jogador-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    image-rendering: pixelated;
}

.pontos {
    color: #ffffff; /* Verde neon para os pontos */
}